.content-pages {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .content-text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .content-text h1 {
    color: var(--grey-50, #ebeef5);
    font-family: Poppins;
    font-size: 64px;
    font-style: normal;
    font-weight: 600;
    line-height: 80px;
    letter-spacing: -1.28px;
    margin: 0;
  }
  
  .content-text p {
    color: var(--grey-300, #8e95a9);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin: 0;
  }
  
  .content-search-input {
    display: flex;
    align-items: center;
    margin-left: 100px;
    margin-top: 25px;
  }

  .content-pages {
    margin-top: 25px;
  }
  