.home {
  display: flex;
  flex-direction: column;
}

.home-title {
  margin-left: 100px;
}

.home-title h1,
p {
  margin: 0;
}

.home-title h1 {
  color: var(--grey-50, #ebeef5);
  font-family: "Inter", sans-serif;
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  line-height: 80px;
  letter-spacing: -1.28px;
}

.home-title p {
  color: var(--grey-300, #8e95a9);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.home-search-input {
  display: flex;
  align-items: center;
  margin-left: 100px;
}

.home-search-input img {
  position: absolute;
  margin-left: 15px;
}

.home-search-input input {
  border-radius: 12px;
  border: 1px solid var(--grey-700, #323b54);
  background: var(--black-10, rgba(0, 0, 0, 0.1));
  width: 312px;
  display: flex;
  padding: 12px 40px;
  align-items: center;
  gap: 16px;

  color: var(--grey-600, #475069);

  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}
