@tailwind base;
@tailwind components;
@tailwind utilities;

  @layer utilities {
    .w-560{
      width: 560px;
    }
    .w-1200{
      width: 1200px;
    }
    .m-path{
    margin-top: -80px;
    margin-left: 350px;
    }
    .backdrop-filter-4{
      backdrop-filter: blur(4px);
    }
    .backdrop-filter-12{
      backdrop-filter: blur(12px);
    }
    .backdrop-filter-40 {
      backdrop-filter: blur(40px);    }
  }

@layer components {
  .font-inter {
    font-family: 'Inter', sans-serif;
  }
  .font-poppins{
    font-family: Poppins;
  }
}
body {
  margin: 0;
  background: rgba(18, 24, 41, 0.8);
  backdrop-filter: blur(20px);
  background-image: url(./assets/Background.png);
}
